body {
	background: #005483;
	text-align: center;
}

input {
	width: 70%;
	padding: 10px 20px;
	margin: 6px 0;
	box-sizing: border-box;
	background-color: #D7F3FF;
	color: white;
}

input[type=submit]{
	width: 20%;
	color: black;
	font-weight: 900;
}

input:focus {
	width: 80%
}

h1 {
	color: white;
}

label {
	font-size: 1.5em;
	color: white;
}

@media only screen and (min-width: 480px) {
	input {
		width: 40%;
		border:2px solid #ff0000; 
	}

}

@media only screen and (min-width: 992px) {
	input {
		width: 60%;
		border:2px solid #ff0000;
	}

}